<div class="inner cover">
 <div>
  <h1 class="cover-heading ">Welcome</h1>
  <p>
  <hr>
    <p class="text-align-center ">K2 Tech, assists businesses on their digital transformation and technology adoption journey, streamlining existing capabilities and develop new ones involving technology solutions, helping to realize the most value from technology investments, enabling the organization to benefit from the new capabilities.</p>
    </p>
 </div>

  <!-- <div>
    <%= render "shared/test"%>
  </div> -->
</div>
