<div class="center mygrid-wrapper-div">

<div>
    <p align="center" class="clr">
        <strong>Work</strong>
    </p>
</div>

<p>
    <strong class="clr">
        StaffAngel – Product Manager, Sept 2015 – present @ London
    </strong>
</p>


<p>
    · Leading product discovery, customer survey, define product requirements,
    evaluate product/market fit, wireframe a SaaS &nbsp;&nbsp;&nbsp;recruitment platform for healthcare providers.
</p>
<p>
    · Product ownership (idea-art-development-release) and building a team of
    4+ developers.
</p>
<p>
    · Hands on development &amp; tech leadership following a lean agile startup
    methodology.
</p>
<p>
    <strong class="clr">
        Bets&amp;Banter – Product Manager, Aug 2015 – Nov 2016 @ London
    </strong>
    <strong></strong>
</p>
<p>
    · Product management of peer-to-peer sports betting HTML5 app with a
    scalable Rails backend from concept to delivery for &nbsp;&nbsp;&nbsp;50+&nbsp;&nbsp;beta users.
</p>
<p>
    · Built and managed a team of 8 developers &amp; UX designers, prioritized
    product backlog in an Agile scrum framework.
</p>
<p>
    · Managed usability testing; achieved positive user traction, resulting in
    potential £500K+ fund raising for a scaled version.
</p>

<p>
    <strong class="clr">
        K2 Tech Consultancy – Director, April 2014 – present @ London
    </strong>
</p>
<p>
    · Tech consultancy &amp; software development for various clients - Flix
    Premiere, Datanet, MusicGurus, Relayto, WideIO, PanoramicAI, &nbsp;&nbsp;&nbsp;ZeroLatency ,
    StylistExchange &amp; others.
</p>
<p>
    <strong class="clr">
        MergerHub – Cofounder / Technical Director, Jan 2015 – Aug 2016 @
        London
    </strong>
</p>
<p>
    · Managed complete development lifecycle, monitored KPIs of social finance
    platform SaaS MVP securing seed funding.
</p>
<p>
    · Product development in Rails along with a team of 6 developers across all
    iterations.
</p>
<p>
    · Designed a new user interface layout for the software, in response to
    close observation of user behaviors and beliefs.
</p>
<p>
    · Employed user analytics/feedback and competitor analysis to pivot the
    product effectively in the market; providing potential &nbsp;&nbsp;&nbsp;customers  with a
    truly compelling proposition.
</p>
<p>
    <strong class="clr">MyTV </strong>
    <strong>– </strong>
    <strong class="clr" >Cofounder / CTO, Oct 2012 – Oct 2013 @ London</strong>
    <strong></strong>
</p>
<p>
    · Architect and developed a OTT streaming platform in Python/C++ using xbmc
    / ffmpeg algorithms resulting in £1.5M+ pre-money &nbsp;&nbsp;&nbsp;valuation and successful
    backing by London based media technology company.
</p>
<p>
    <strong class="clr">
        Panoaction 360 Media – Cofounder / CTO, Jan 2011 – Jul 2014 @ London
    </strong>
    <strong></strong>
</p>
<p>
    · Owned, developed and launched official 360° video IOS app for British
    movie - St Georges Day - achieving 25K+ downloads.
</p>
<p>
    · Responsible for launch &amp; system integration of AWS based 360° VoD
    streaming services for BBC.
</p>
<p>
    · Conceptualized &amp; delivered unique 360° video offerings, acquired new
    customers and channel partners resulting in annual &nbsp;&nbsp;&nbsp;revenue growth of &gt;
    120%.
</p>
<p>
    · Built 8+ member team and managed KPIs, growth hacking products in
    coordination with clients &amp; tech partners.
</p>
<p>
    · Design &amp; development of 3 IOS concept apps for various creative
    clients using proprietary image processing algorithms.
</p>
<p>
    <strong class="clr">
        3D Solid Compression – Principal Engineer, Feb 2010 – Nov 2010 @
        Bangalore
    </strong>
</p>
<p>
    · Built backend server platform and social network plugins in PHP/ Java for
    Augmented reality app resulting in 3M+ downloads.
</p>
<p>
    <strong class="clr">
        Hewlett Packard – Tech Lead / Product Manager, Jan 2000 - Jan 2010 @
        Bangalore / Palo Alto
    </strong>
    <strong></strong>
</p>
<p>
    · Managed &amp; developed software simulator in C/C++ for scientific
    visualization applications generating revenue of $2.5M+ over&nbsp;3+ &nbsp;&nbsp;yrs.
</p>
<p>
    · Architect &amp; system integration of Digital Oil field - virtual
    collaboration platform - worth $1.5M+ for E&amp;P clients like BP/Chevron.
</p>
<p>
    · Design &amp; development of network topology maps / OSS services for
    telecom clients Vodafone, GP.
</p>
<p>
    · Led Nokia managed services project valued $250K for developing reporting
    utilities of content delivery network providers.
</p>
<p>
    · Research &amp; development of network algorithms for telecom rich media
    platforms generating significant IP worth $100K+.
</p>
<div>
    <p align="center" class="clr">
        <strong>Education</strong>
    </p>
</div>
<p>
    <strong>Master of Computer Applications</strong>
    , National Institute of Technology, India, Jun 2000, First Class
</p>
<p>
    <strong>Bachelor of Science (Electronics)</strong>
    , Bangalore University, Apr 1995, First Class
</p>
<p>
    <strong>Certified Scrum Product Owner – by </strong>
    Roman Pichler, London
</p>
<p>
    <strong>Entrepreneurship</strong>
    ,<strong> </strong>Startup Leadership Program, 2012-2013, London
</p>
<div>
    <p align="center" class="clr">
        <strong>Awards</strong>
        <strong></strong>
    </p>
</div>
<p>
    <strong>
        Best of Digital award from Hewlett Packard for Sepia Simulator product
    </strong>
    <strong></strong>
</p>
<p>
    <strong>
        Stock incentive &amp; Key knowledge contributor awards from Hewlett
        Packard
    </strong>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<div>
    <p align="center" class="clr">
        <strong>Skills</strong>
        <strong></strong>
    </p>
</div>
<p>
    <strong>Programming Languages: </strong>
    1-3 years in Ruby on Rails, Python, Objective C, PHP, Java script, SQL; 6+
    years in C/C++
</p>
<p>
    <strong>Project management tools: </strong>
    Agile/TDD/CI/CD, Pivotal tracker / Trello, Git, Mockflow
</p>
</div>

<script>
$(function() {
    var window_height = $(window).height(),
       content_height = window_height - 250;

    $('.mygrid-wrapper-div').height(content_height);

});

// $( window ).resize(function() {
//     var window_height = $(window).height(),
//        content_height = window_height - 200;
//     $('.mygrid-wrapper-div').height(content_height);
// });

</script>

